body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header .logo, .left-subsection {
    margin-left: 200px;
}

.header li, .left-subsection p, .left-subsection button, .right-subsection p {
    font-size: 18px;
    color: #E5E7EB;
} 

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    justify-content: flex-end;
    list-style: none;
}

.header ul, .right-subsection {
    margin-right: 200px;
}

.section-1 {
    background-color: #1F2937;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.left-subsection h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.left-subsection button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
}

.right-subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    background-color: #6F737C;
}

.right-subsection p {
    width: 300px;
    text-align: center;
}

.section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.section-2 h4 {
    font-size: 36px;
    color: #1F2937; 
    font-weight: 900;
    text-align: center;
    height: 60px;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.section-2 .card {
    width: 160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-2 .card div {
    width: 140px;
    height: 140px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.section-3 {
    background-color: #E5E7EB;
    padding: 40px 0;
}

.section-3 .quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    text-align: center;
}

.section-3 .quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    text-align: center;
}

.section-3 .quote, .section-3 .author {
    padding: 30px 240px;
}

.section-3 .author {
    text-align: end;
    font-size: 24px;
}

.section-4 {
    color: #F9FAF8;
    margin: 100px 0;
}

.container {
    background-color: #3882F6;
    margin: 60px 200px;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container button {
    flex-grow: 0;
    height: 50px;
    width: 100px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;;
    font-size: 20px;
}

.container h4, .container p {
    margin: 20px 0;
}

.container h4 {
    font-size: 24px;
}

.container p {
    font-size: 16px;
}