body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    margin-left: 100px;
}

.header li {
    font-size: 18px;
    color: #E5E7EB;
} 

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    justify-content: flex-end;
    list-style: none;
    margin-right: 100px;
}