body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header .logo, .left-subsection {
    margin-left: 100px;
}

.header li, .left-subsection p, .left-subsection button, .right-subsection p {
    font-size: 18px;
    color: #E5E7EB;
} 

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    justify-content: flex-end;
    list-style: none;
    margin-right: 100px;
}

.header ul, .right-subsection {
    margin-right: 100px;
}

.section-1 {
    background-color: #1F2937;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.left-subsection h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.left-subsection button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
}

.right-subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    background-color: #6F737C;
}

.right-subsection p {
    width: 300px;
    text-align: center;
}
